



.p1 {
	
	overflow-y:Scrollbar;
	overflow-x:hidden;
	
}



.p2 { 
	width:1953px;
	height:2284px;
	position:absolute;
	top: 0px;
	left: 0px;
	
	color: white;
	background: blue;
	background-image: url(tłostrona.png);
    background-attachment: fixed;
    text-align: center;
    font-size: larger;
	
}
 .p3 {
	 
	    width: 1481px;
    height: 47px;
    left: 210px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
   
    
	 
	
	 
 }
 
 
 .p4 {
	 
	   color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 117px;
    height: 54px;
    position: absolute;
    top: -3px;
    left: 682px;
    
	 
	 
	 
 }
  .p6 {
	 
	   color: black;
    font-size: 50;
    text-decoration: none;
    width: 2050px;
    height: 2193px;
    position: absolute;
    top: 7px;
    left: 606px;
    
	 
	 
	 
 }
 
 
 .p5 {
	 
	 width: 1481px;
    height: 80px;
    left: 210px;
        top: 10px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 .p7 {
	 
	  width: 1100px;
    height: 754px;
    left: 210px;
        top: 80px;
    position: relative;
    background: rgb(128,128,128) ;
    border-radius: 20px;
	 
	 
	 
	 
	 
 }
 .p8 {
	 
	 color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 300px;
    height: 54px;
    position: absolute;
    top: 40px;
    left: 440px;
	 
	 
	 
 }
 
 .p9 {
	 
	 color: red;
	   font-size: 30;
	   text-decoration: none;
	   width: 400px;
    height: 400px;
    position: absolute;
    top: 187px;
    left: 39px;
	 
	 
 }
 









@media screen and (max-width: 1639px) {


.p5 {
	 
	 width: 1481px;
    height: 80px;
    left: 117px;
        top: 9px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 1481px;
    height: 47px;
    left: 117px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
   
    
	 
	
	 
 }
}

@media screen and (max-width: 1577px) {
	
	.p5 {
	 
	 width: 1481px;
    height: 80px;
    left: 47px;
        top: 9px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 1481px;
    height: 47px;
    left: 47px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
   
    
	 
	
	 
 }
	
	
	
	
	
	
	
}

@media screen and (max-width: 1469px) {
	
	.p5 {
	 
	 width: 1227px;
    height: 80px;
    left: 133px;
        top: 9px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 1227px;
    height: 47px;
    left: 133px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
   
    
	 
	
	 
 }
 
  .p6 {
	 
	   color: black;
    font-size: 50;
    text-decoration: none;
    width: 318px;
    height: 71px;
    position: absolute;
    top: 7px;
    left: 496px;
    
	 
	 
	 
 }
 
 .p4 {
	 
	   color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 117px;
    height: 54px;
    position: absolute;
    top: -3px;
    left: 582px;
    
	 
	 
	 
 }
	
	
	
	
}

