

.p1 {
	
	overflow-y:Scrollbar;
	overflow-x:hidden;
	
}





.p2 { 
	width:1953px;
	height:2284px;
	position:absolute;
	top: -20px;
	left: 0px;
	
	color: white;
	background: blue;
	background-image: url(tłostrona.png);
    background-attachment: fixed;
    text-align: center;
    font-size: larger;
	
}
 .p3 {
	 
	    width: 1481px;
    height: 47px;
    left: 210px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
   
    
	 
	
	 
 }
 
 
 .p4 {
	 
	   color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 117px;
    height: 54px;
    position: absolute;
    top: -3px;
    left: 682px;
    
	 
	 
	 
 }
  .p6 {
	 
	   color: black;
    font-size: 50;
    text-decoration: none;
    width: 2050px;
    height: 2193px;
    position: absolute;
    top: 7px;
    left: 606px;
    
	 
	 
	 
 }
 
 
 .p5 {
	 
	 width: 1481px;
    height: 80px;
    left: 210px;
        top: 21px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 .p7 {
	 
	  width: 1100px;
    height: 754px;
    left: 210px;
        top: 80px;
    position: relative;
    background: rgb(128,128,128) ;
    border-radius: 20px;
	 
	 
	 
	 
	 
 }
 .p8 {
	 
	 color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 300px;
    height: 54px;
    position: absolute;
    top: 40px;
    left: 440px;
	 
	 
	 
 }
 
 .p9 {
	 
	 color: red;
	   font-size: 30;
	   text-decoration: none;
	   width: 400px;
    height: 400px;
    position: absolute;
    top: 187px;
    left: 39px;
	 
	 
 }
 
 .p10 {
	 
	 
	display: block;
    width: 680px;
    height: 530px;
    position: relative;
    top: -210px;
    left: -274px;


 
	 
	 
 }
 
 
 
 
 









@media screen and (max-width: 1639px) {


.p5 {
	 
	 width: 1481px;
    height: 80px;
    left: 40px;
        top:21px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 1481px;
    height: 47px;
    left: 46px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
   
    
	 
	
	 
 }
}

@media screen and (max-width: 1577px) {
	
	.p5 {
	 
	 width: 1481px;
    height: 80px;
    left: 47px;
        top: 21px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 1481px;
    height: 47px;
    left: 47px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
   
    
	 
	
	 
 }
	
	
	
	
	
	
	
}

@media screen and (max-width: 1469px) {
	
	.p5 {
	 
	 width: 1227px;
    height: 100qpx;
    left: 133px;
        top: 21px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 1227px;
    height: 47px;
    left: 133px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
   
    
	 
	
	 
 }
 
  .p6 {
	 
	   color: red;
    font-size: 50;
    text-decoration: none;
    width: 318px;
    height: 71px;
    position: absolute;
    top: 7px;
    left: 496px;
    
	 
	 
	 
 }
 
 .p4 {
	 
	   color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 117px;
    height: 54px;
    position: absolute;
    top: -3px;
    left: 582px;
    
	 
	 
	 
 }
	
	
	
	
}

@media screen and (max-width: 1381px) {
	
	.p5 {
	 
	 width: 1227px;
    height: 80px;
    left: 54px;
        top: 21px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 1227px;
    height: 47px;
    left: 54px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
   
    
	 
	
	 
 }
 
  .p6 {
	 
	   color: red;
    font-size: 50;
    text-decoration: none;
    width: 318px;
    height: 71px;
    position: absolute;
    top: 7px;
    left: 496px;
    
	 
	 
	 
 }
 
 .p4 {
	 
	   color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 117px;
    height: 54px;
    position: absolute;
    top: -3px;
    left: 582px;
    
	 
	 
	 
 }
 
 .p7 {
	 
	  width: 1100px;
    height: 754px;
    left: 52px;
        top: 80px;
    position: relative;
    background: rgb(128,128,128) ;
    border-radius: 20px;
	 
	 
	 
	 
	 
 }
	
	
	
	
}

@media screen and (max-width: 953px) {
	
	.p5 {
	 
	 width: 791px;
    height: 80px;
    left: 54px;
        top: 21px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 791px;
    height: 47px;
    left: 54px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
   
    
	 
	
	 
 }
 
  .p6 {
	 
	   color: red;
    font-size: 50;
    text-decoration: none;
    width: 318px;
    height: 71px;
    position: absolute;
    top: 7px;
    left: 298px;
    
	 
	 
	 
 }
 
 .p4 {
	 
	   color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 117px;
    height: 54px;
    position: absolute;
    top: -3px;
    left: 396px;
    
	 
	 
	 
 }
 
 .p7 {
	 
	  width: 824px;
    height: 754px;
    left: 52px;
        top: 80px;
    position: relative;
    background: rgb(128,128,128) ;
    border-radius: 20px;
	 
	 
	 
	 
	 
 }
 
 .p8 {
	 
	 color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 300px;
    height: 54px;
    position: absolute;
    top: 40px;
    left: 271px;
	 
	 
	 
 }
 
 .p10 {
	 
	 
	display: block;
    width: 571px;
    height: 472px;
    position: relative;
    top: -181px;
    left: -240px;


 
	 
	 
 }
	
	
	
	
}

@media screen and (max-width: 458px) {
	
	.p5 {
	 
	 width: 410px;
    height: 80px;
    left: -3px;
        top: 21px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 368px;
    height: 47px;
    left: 16px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
   
    
	 
	
	 
 }
 
  .p6 {
	 
	   color: red;
    font-size: 30;
    text-decoration: none;
    width: 318px;
    height: 71px;
    position: absolute;
    top: 20px;
    left: 149px;
    
	 
	 
	 
 }
 
 .p4 {
	 
	   color: white;
	   font-size: 25;
	   text-decoration: none;
	   width: 117px;
    height: 54px;
    position: absolute;
    top: 7px;
    left: 157px;
    
	 
	 
	 
 }
 
 .p7 {
	 
	  width: 420px;
    height: 754px;
    left: 13px;
        top: 80px;
    position: relative;
    background: rgb(128,128,128) ;
    border-radius: 20px;
	 
	 
	 
	 
	 
 }
 
 .p8 {
	 
	 color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 300px;
    height: 54px;
    position: absolute;
    top: 5px;
    left: 72px;
	 
	 
	 
 }
 
 .p10 {
	 
	 
	display: block;
    width: 400px;
    height: 369px;
    position: relative;
    top: -132px;
    left: -165px;


 
	 
	 
 }
	
	
	
	
}




