

.p1 {
	
	overflow-y:Scrollbar;
	overflow-x:hidden;
	background-size:auto;
	
}





.p2 { 
	width:1953px;
	height:2390px;
	position:absolute;
	top: -20px;
	left: 0px;
	
	color: white;
	background: blue;
	background-image: url(tłostrona.png);
    background-attachment: fixed;
    text-align: center;
    font-size: larger;
	
}
 .p3 {
	 
	    width: 1481px;
    height: 47px;
    left: 210px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
	 background: linear-gradient(-45deg, #b31450, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
   
    
	 
	
	 
 }
 
 
 .p4 {
	 
	   color: white;
	   font-size: 38;
	   text-decoration: none;
	   width: 169px;
    height: 44px;
    position: absolute;
    top:-1px;
    left: 682px;
	border: 2px solid #3cbabe;
	border-radius: 5px;
    transition: 1s;
    
	 
	 
	 
 }
 
 
 .p4:hover {
	 
	 
 box-shadow: inset 300px 0 0 0 gray;
border-bottom: 2px solid red;
 border-radius: 5px;
 color: #970000;
 
 
 
 
 }
 
 .p5_1 {
	  width: 1481px;
    height: 80px;
    left: 210px;
        top: 21px;
    position: relative;
    background: white;
    border-radius: 40px;
	overflow: hidden;
   
	
	 
	 
 }
 
 .p5_1::before {
	 
	  content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1521px;
    height: 100%;
    background: linear-gradient(#00ccff,#d400d4);
	animation: animate 6s linear infinite;
	  
	 
	 
 }
 
 
 .p5_1::after
 {
	 
	 content: '';
	 position: absolute;
	 background: #000000;
	 inset: 4px;
	 border-radius: 50px;
	 overflow: hidden;
	 
	 
	 
	 
 }
 
 
 
 @keyframes animate
 {
	 0%
	 {
		 
		 transform: rotate(0deg);
	 }
	 
 100%
 {
	 transform: rotate(350deg);
	 
 }
 }
 
 .p5_1 a  {
	 position:relative;
	 z-index: 10;
	 
	 
 }
 
 .p5_1 img  {
	 position:relative;
	 z-index: 10;
	 
	 
 }
 
 
 
 
 
  .p6 {
	 
	   color: white;
    font-size: 50;
    text-decoration: none;
    width: 2050px;
    height: 2193px;
    position: absolute;
    top: 7px;
    left: 567px;
    
	 
	 
	 
 }
 
 
 .p5 {
	 
	 width: 1481px;
    height: 80px;
    left: 210px;
        top: 21px;
    position: relative;
    background: white;
    border-radius: 40px;
	overflow: hidden;
	 
	 
 }
 
 :root
 {
	 --gradient: linear-gradient(#61006a, #1976d2)
	 
	 
	 
	 
 }
 
 
 .p7 {
	 
	  width: 1100px;
    height: 754px;
    left: 210px;
        top: 80px;
    position: relative;
    background: linear-gradient(-45deg, #61006a, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	height: 100vh;
	border-radius:20px;
	 border: 4px solid  #61006a;
	 
	 
 }
 
 
 
 
 
 @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

 
 
 
 
 
 
 
 
 
 
 
 .p8 {
	 
	 color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 115px;
    height: 54px;
    position: absolute;
    top: 40px;
    left: 533px;
	border: 3px solid #b31450
	 
	 
	 
 }
 
 .p9 {
	 
	 color: black;
	   font-size: 30;
	   text-decoration: none;
	   width: 748px;
    height: 39px;
    position: absolute;
    top: 187px;
    left: 39px;
	border: 2px solid#18184e;
	border-radius: 5px;
	 
	 
 }
 
 
 .p109 {
	 
	 color: black;
	   font-size: 30;
	   text-decoration: none;
	   width: 748px;
    height: 169px;
    position: absolute;
    top: 234px;
    left: 39px;
		border: 2px solid#18184e;
	border-radius: 5px;

	
 }
 
 .p10 {
	 
	 
	display: block;
    width: 680px;
    height: 530px;
    position: relative;
    top: -241px;
    left: -274px;


 
	 
	 
 }
 
 .p11 {
	 
	 width: 10px;
	 height: 10px;
	 position: relative;
	 top: 28px;
	 left: 28px;
	 color: rgb(255, 128, 0);
	 font-size: 50px;
	 opacity: 0.5;
	 
	 
	 
 }
 
 .p13 {
	  width: 1100px;
    height: 310px;
    left: 210px;
        top: 139px;
    position: relative;
    background: linear-gradient(-45deg, #61006a, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	
	border-radius:20px;
	color:white;
	font-size: 40;
	line-height: 7;
	 border: 4px solid  #61006a;
	 
	 
	 
 }
 
 .p14 {
	 
	 
	  width: 610px;
    height: 310px;
    left: 11px;
        top: 78px;
    position: relative;
	border-radius:20px;
	background-image: url(13.png);
	text-decoration:none;
	 
	 
	 
	 
 }
 
 .p14_2 {
	 
	 
	  width: 471px;
    height: 310px;
    left: 2px;
        top: -360px;
    position: relative;
	border-radius:20px;
	 
	 
	 
	 
 }
 
 .p14_0 {
	 
	 
	
	  width: 610px;
    height: 310px;
    left: -4px;
        top: -439px;
    position: relative;
	text-decoration:none;
	
	 
	 
	 
	 
 }
 
 .pdown {
	 
	   width: 1885px;
    height: 118px;
	 position: relative;
    background: linear-gradient(-45deg, #61006a, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	left: -11px;
	top: 950px;
	
	 
	 
	 
	 
 }
 
 
 .pdown1 {
	 
	 
	 position:relative;
	 top: 31px;
	 left:36px;
	 color:white;
	  opacity:60%
	 
	 
	 
 }
 
 .pdown2 {
	 
	 
	  position:relative;
	 top: 82px;
	 left:1397px;
	 color:white;
	 opacity:50%
	 
	 
 }
 
 
 
 









@media screen and (max-width: 1639px) {


.p5 {
	 
	 width: 1481px;
    height: 80px;
    left: 40px;
        top:21px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 1481px;
    height: 47px;
    left: 46px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
	background: linear-gradient(-45deg, #b31450, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
   
    
	 
	
	 
 }
 
 .pdown {
	 
	   width: 1885px;
    height: 118px;
	 position: relative;
    background: linear-gradient(-45deg, #61006a, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	left: -11px;
	top: 950px;
	
	 
	 
	 
	 
 }
 
 
}

@media screen and (max-width: 1577px) {
	
	.p5 {
	 
	 width: 1481px;
    height: 80px;
    left: 47px;
        top: 21px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 1481px;
    height: 47px;
    left: 47px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
	background: linear-gradient(-45deg, #b31450, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
   
    
	 
	
	 
 }
	
	
	
	
	
	
	
}

@media screen and (max-width: 1469px) {
	
	.p5 {
	 
	 width: 1227px;
    height: 100qpx;
    left: 133px;
        top: 21px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 1227px;
    height: 47px;
    left: 133px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
	background: linear-gradient(-45deg, #b31450, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
   
    
	 
	
	 
 }
 
  .p6 {
	 
	   color: red;
    font-size: 50;
    text-decoration: none;
    width: 318px;
    height: 71px;
    position: absolute;
    top: 7px;
    left: 496px;
    
	 
	 
	 
 }
 
 .p4 {
	 
	   color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 106px;
    height: 47px;
    position: absolute;
    top: -3px;
    left: 582px;
	border: 2px solid #3cbabe;
	border-radius: 5px;
    
	 
	 
	 
 }
	
	
	
	
}

@media screen and (max-width: 1381px) {
	
	.p5 {
	 
	 width: 1227px;
    height: 80px;
    left: 54px;
        top: 21px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 1227px;
    height: 47px;
    left: 54px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
	background: linear-gradient(-45deg, #b31450, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
   
    
	 
	
	 
 }
 
  .p6 {
	 
	   color: red;
    font-size: 50;
    text-decoration: none;
    width: 318px;
    height: 71px;
    position: absolute;
    top: 7px;
    left: 496px;
    
	 
	 
	 
 }
 
 .p4 {
	 
	   color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 103px;
    height: 47px;
    position: absolute;
    top: -3px;
    left: 582px;
	border: 2px solid #3cbabe;
	border-radius: 5px;
    
	 
	 
	 
 }
 
 .p7 {
	 
	  width: 1100px;
    height: 754px;
    left: 52px;
        top: 80px;
    position: relative;
    background: linear-gradient(-45deg, #61006a, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	height: 100vh;
	border-radius:20px;
	 border: 4px solid  #61006a;
	 
	 
	 
	 
	 
 }
 .p13 {
	  width: 1100px;
    height: 310px;
    left: 52px;
        top: 139px;
    position: relative;
    background: linear-gradient(to left, #283593, #1976d2);
    border-radius: 20px;
	color:white;
	font-size: 40;
	line-height: 7;
	
	 
	 
	 
 }
	
	
	
	
}

@media screen and (max-width: 953px) {
	
	.p5 {
	 
	 width: 791px;
    height: 80px;
    left: 54px;
        top: 21px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 791px;
    height: 47px;
    left: 54px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
	background: linear-gradient(-45deg, #b31450, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
   
    
	 
	
	 
 }
 
  .p6 {
	 
	   color: red;
    font-size: 50;
    text-decoration: none;
    width: 318px;
    height: 71px;
    position: absolute;
    top: 7px;
    left: 298px;
    
	 
	 
	 
 }
 
 .p4 {
	 
	   color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 104px;
    height: 42px;
    position: absolute;
    top: 0px;
    left: 396px;
	border: 2px solid #3cbabe;
	border-radius: 5px;
    
	 
	 
	 
 }
 
 .p7 {
	 
	  width: 824px;
    height: 754px;
    left: 52px;
        top: 80px;
    position: relative;
    background: linear-gradient(-45deg, #61006a, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	height: 100vh;
	border-radius:20px;
	 border: 4px solid  #61006a;
	 
	 
	 
	 
	 
 }
 
 .p8 {
	 
	 color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 300px;
    height: 54px;
    position: absolute;
    top: 40px;
    left: 407px;
	 
	 
	 
 }
 
 .p10 {
	 
	 
	display: block;
    width: 571px;
    height: 472px;
    position: relative;
    top: -219px;
    left: -240px;


 
	 
	 
 }
	
	
	
	
}

@media screen and (max-width: 458px) {
	
	.p5 {
	 
	 width: 410px;
    height: 80px;
    left: -3px;
        top: 21px;
    position: relative;
    background: white;
    border-radius: 40px;
	 
	 
 }
 
 
  .p3 {
	 
	    width: 368px;
    height: 47px;
    left: 16px;
        top: 28px;
    position: relative;
    background: blue;
    border-radius: 20px;
	background: linear-gradient(-45deg, #b31450, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
   
    
	 
	
	 
 }
 
  .p6 {
	 
	   color: red;
    font-size: 30;
    text-decoration: none;
    width: 318px;
    height: 71px;
    position: absolute;
    top: 20px;
    left: 97px;
    
	 
	 
	 
 }
 
 .p4 {
	 
	   color: white;
	   font-size: 25;
	   text-decoration: none;
	   width: 69px;
    height: 33px;
    position: absolute;
    top: 7px;
    left: 157px;
    
	 
	 
	 
 }
 
 .p7 {
	 
	  width: 420px;
    height: 754px;
    left: 13px;
        top: 80px;
    position: relative;
    background: rgb(128,128,128) ;
    
	background: linear-gradient(-45deg, #61006a, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	height: 100vh;
	border-radius:20px;
	 border: 4px solid  #61006a;
	 
	 
	 
	 
 }
 
 .p8 {
	 
	 color: white;
	   font-size: 40;
	   text-decoration: none;
	   width: 115px;
    height: 54px;
    position: absolute;
    top: 5px;
    left: 162px;
	border: 3px solid #b31450
	 
	 
	 
 }
 
 .p10 {
	 
	 
	display: block;
    width: 400px;
    height: 369px;
    position: relative;
    top: -149px;
    left: -165px;


 
	 
	 
 }
 
 .p2 { 
	width:444px;
	height:2629px;
	position:absolute;
	top: -20px;
	left: 0px;
	
	color: white;
	background: blue;
	background-image: url(tłostrona.png);
    background-attachment: fixed;
    text-align: center;
    font-size: larger;
	
 }
 
 .p9 {
	 
	 color: black;
	   font-size: 30;
	   text-decoration: none;
	   width: 348px;
    height: 117px;
    position: absolute;
    top: 187px;
    left: 39px;
	border: 2px solid#18184e;
	border-radius: 5px;
	 
	 
 }
 .p109 {
	 
	 color: black;
	   font-size: 30;
	   text-decoration: none;
	   width: 348px;
    height: 117px;
    position: absolute;
    top: 309px;
    left: 39px;
		border: 2px solid#18184e;
	border-radius: 5px;

	
 }
 
 .p13 {
	  width: 421px;
    height: 966px;
    left: 16px;
        top: 139px;
    position: relative;
    background: linear-gradient(-45deg, #61006a, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	
	border-radius:20px;
	color:white;
	font-size: 40;
	line-height: 7;
	 border: 4px solid  #61006a;
	 
	 
	 
 }
 
 .p5_1::before {
	 
	  content: "";
    position: absolute;
    top: 0px;
    left: -539px;
    width: 1521px;
    height: 100%;
    background: linear-gradient(#00ccff,#d400d4);
	animation: animate 6s linear infinite;
	  
	 
	 
 }
 .p14 {
	 
	 
	  width: 407px;
    height: 310px;
    left: 11px;
        top: 245px;
    position: relative;
	border-radius:20px;
	background-image: url(13.png);
	text-decoration:none;
	 
	 
	 
	 
 }
 
 .p14_0 {
	 
	 
	
	  width: 610px;
    height: 310px;
    left: -4px;
        top: -1157px;
    position: relative;
	text-decoration:none;
	
	 
	 
	 
	 
 }
 
 
 .p14_2 {
	 
	 
	  width: 407px;
    height: 310px;
    left: 6px;
        top: -900px;
    position: relative;
	border-radius:20px;
	 
	 
	 
	 
 }
 .pdown {
	 
	   width: 487px;
    height: 118px;
	 position: relative;
    background: linear-gradient(-45deg, #61006a, #1976d2);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	left: -11px;
	top: 733px;
	
	 
	 
	 
	 
 }
	
	
	
	
}




